@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "node_modules/bootstrap/scss/bootstrap";

@import "fonts";

* {
  padding: 0;
  margin: 0;
}

.page-wrapper {
  max-width: 1100px;
  margin: auto;
}

.btn-outline-secondary {
  padding: 5px 1.455rem !important;
  border-radius: 8px !important;
  border-color: white !important;
  color: white !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.btn-outline-secondary:hover {
  color: white !important;
  background: rgba(18, 84, 181, 0.5) !important;
}

.header {
  background-color: #14243D;
  padding: 10px 20px;

  .header__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Ubuntu;

    .header__upper-info {
      display: flex;

      a {
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          text-decoration: none;
          color: #1254B5;
        }
      }
    }
  }
}

